.cat {
  background: url(./../../assets/img/cat.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  display: block;
  width: 320px;
  height: 240px;
}

.dog {
  background: url(./../../assets/img/dog.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  display: block;
  width: 320px;
  height: 240px;
}

.cat-blur {
  width: 320px;
  height: 240px;
  background-color: #fff;
}

.img {
  display: block;
  width: 64px;
  height: 48px;
}