<form formgroup>
  <div class="contacts">
    <div class="contacts__topline">
      <div class="contacts__line">
        <label for="name" >Your name:</label>
        <input  id="name" 
                type="text" 
                placeholder="name...">
      </div>
      <div class="contacts__line">
        <label for="email" >Your email:</label>
        <input  id="email" 
                type="text" 
                placeholder="email...">
      </div>
    </div>
    <div class="contacts__bottomline">
      <button>Submit</button>
    </div>
  </div>
</form>
