<!-- <section class="about">
  <div class="about__item" *ngFor="let article of articles">
    <h3 class="about__title"> {{ article.title }} </h3>
    <p class="about__description"> {{ article.description }} </p>
    <div class="about__tags">
      <span class="about__tags-item" *ngFor="let tag of article.tags" (click)="sortByTags($event)"> {{ tag }} </span>
    </div>
  </div>
</section> -->

<section>
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">Title</th>
        <th scope="col">Description</th>
        <th scope="col">Tags</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let article of articles">
        <th scope="row">{{ article.id }}</th>
        <td>{{ article.title }}</td>
        <td>{{ article.description }}</td>
        <td><span *ngFor="let tag of article.tags">{{ tag | uppercase }} </span></td>
      </tr>
    </tbody>
  </table>
</section>
