.about {
  display: flex;
  &__title {
    margin-bottom: 10px;
    color: $text-color;
  }
  &__description {
    color: $second-text-color;
  }
  &__item {
    display: flex;
    flex-flow: column nowrap;
    background: $background;
    @include block-border;
    padding: 20px;
    max-width: 20%;
    margin-top: 25px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, .1);
    &:hover {
      @include block-hover;
    }
    & + & {
      margin-left: 25px;
    }
  }
  &__tags {
    display: flex;
    flex-flow: row nowrap;
    &-item {
      margin-right: 7px;
      margin-top: 10px;
      color: #a3a3a3;
      cursor: pointer;
    }
  }
}