header {
  display: flex;
  align-items: flex-start;
  width: 100%;
  position: absolute;
  z-index: 99;
  &>.wrapper {
    display: flex;
    padding-top: 1vw;
  }
}

.header {
  &__bg {
    position: relative;
    top: 0;
    left: 0;
  }
  &__top {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
  &__logo svg{
    width: 10vw;
    height: auto;
    margin-right: auto;
  }
  &__title {
    width: 100%;
    text-align: right;
  }
} 