.contacts {
  margin: 30px auto 0 auto;
  max-width: 520px;
  padding: 0 15px;
  @include block-border;
  background-color: $background;
  &:hover {
    @include block-hover;
  }
  &__line {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    & > label {
      width: 20%;
      padding: 5px 10px;
    }
    & > input {
      width: 79%;
      padding: 5px 10px;
      @include block-border;
      &::placeholder {
        color: $second-text-color;
      }
    }
    &:last-child {
      margin-bottom: 15px;
    }
  }
  &__bottomline{
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    & > button {
      color: $second-text-color;
      padding: 5px 15px;
      @include border;  
      &:hover {
        @include block-hover;
      }
    }
  }
}