.contacts {
  margin: 30px auto 0 auto;
  max-width: 520px;
  padding: 15px 15px 0 15px;
  @include block-border;
  background-color: $background;
  &:hover {
    @include block-hover;
  }
  &__line {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    &--error {
      width: 100%;
      height: 12px;
      font-size: 12px;
      color: $error;
      & > p {
        text-align: right;
        margin-right: 10px;
        padding-top: 2px;
      }
    }
    &--aliases > label{
      display: flex;
      flex-flow: column nowrap;
    }
    & > input::placeholder {
      color: $second-text-color;
      font-size: 12px;
    }
    & > label {
      width: 30%;
      padding: 5px 10px;
      font-size: 14px;
    }
    & > input {
      width: 79%;
      padding: 5px 10px;
      margin-right: 10px;
      font-size: 12px;
      @include block-border;
    }
    &:last-child {
      margin-bottom: 15px;
    }
  }
  &__bottomline{
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
  }
}

.form__errors {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;
  margin-right: 10px;
}

input.ng-valid {
  border-left: 5px solid $valid;
}
input.ng-invalid {
  border-left: 5px solid $error;
}